[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-heroku = "*"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
dj-database-url = "*"
python-decouple = "*"
pillow = "*"
django-storages = "*"
boto3 = "*"
websockets = "*"
requests = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
coverage = "*"
django-nose = "*"
locust = "*"
freezegun = "*"
django = "*"
twilio = "*"
django-push-notifications = "*"
apns2 = "*"
"backports.zoneinfo" = "*"
celery = "*"
redis = "*"
django-redis = "*"
django-celery-beat = "*"
python-dateutil = "*"
django-cleanup = "*"

[dev-packages]

[requires]
python_version = "3.8"
