[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-heroku = "*"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
django-haystack = "*"
python-dateutil = "*"
dj-database-url = "*"
python-decouple = "*"
django-allauth = "*"
pillow = "*"
django-storages = "*"
boto3 = "*"
websockets = "*"
jsonpickle = "*"
requests = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
coverage = "*"
django-nose = "*"
locust = "*"
freezegun = "*"
websocket-client = "*"
django = "*"
twilio = "*"
django-push-notifications = "*"
apns2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
