[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-heroku = "*"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
django-haystack = "*"
python-dateutil = "*"
dj-database-url = "*"
python-decouple = "*"
django-allauth = "*"
pillow = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.8"
